In [9]:
import pandas as pd
import numpy as np
import random

In [3]:
df=pd.read_csv('data/Online Retail.csv')

In [4]:
df.shape

(541909, 8)

# 결측치 제거

In [5]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [49]:
df.dropna(axis=0,inplace=True)

In [50]:
df['StockCode'].sort_values(ascending=False)

5369       POST
395252     POST
424904     POST
14472      POST
19838      POST
          ...
7598      10002
76571     10002
21551     10002
31046     10002
65899     10002
Name: StockCode, Length: 406829, dtype: object

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 406829 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    406829 non-null  object
 1   StockCode    406829 non-null  object
 2   Description  406829 non-null  object
 3   Quantity     406829 non-null  int64
 4   InvoiceDate  406829 non-null  object
 5   UnitPrice    406829 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      406829 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 27.9+ MB

# Quantity에 0이하인 데이터가 존재하므로 제거

In [7]:
len(df[(df['Quantity']<0)])

10624

In [52]:
df=df[(df['Quantity']>0)]
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50,4.95,12680.0,France

# Value수 상위 10개 국가만 추출
데이터가 1000개 이하의 국가도 존재하므로 데이터가 너무 적은 국가들은 제외

In [12]:
len(np.unique(df['Country']))

38

In [53]:
df[['Country']].value_counts()[:10]

Country
United Kingdom    354345
Germany             9042
France              8342
EIRE                7238
Spain               2485
Netherlands         2363
Belgium             2031
Switzerland         1842
Portugal            1462
Australia           1185
dtype: int64

### 상위 국가 인덱싱 조건 생성

In [54]:
top10=df[['Country']].value_counts()[:10].reset_index()['Country']

In [55]:
nation='|'.join(top10.values)
print(nation)

United Kingdom|Germany|France|EIRE|Spain|Netherlands|Belgium|Switzerland|Portugal|Australia

In [56]:
df2=df[df['Country'].str.contains(nation)]

United Kingdom,Germany,France,EIRE,Spain,Netherlands,Belgium,Switzerland,Portugal,Australia 국가만 인덱싱

In [57]:
df2.Country.value_counts()

United Kingdom    354345
Germany             9042
France              8342
EIRE                7238
Spain               2485
Netherlands         2363
Belgium             2031
Switzerland         1842
Portugal            1462
Australia           1185
Name: Country, dtype: int64

# 2011년 데이터만 출력

In [58]:
df2011=df2[df2['InvoiceDate'].str.contains('2011')]

# 최종 데이터 셋 저장

In [59]:
df2011.to_csv('data/Retail_On_top10.csv',index=False)

In [15]:
final=pd.read_csv('data/Retail_On_top10.csv')
final

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,539993,22386,JUMBO BAG PINK POLKADOT,10,2011-01-04 10:00,1.95,13313.0,United Kingdom
1,539993,21499,BLUE POLKADOT WRAP,25,2011-01-04 10:00,0.42,13313.0,United Kingdom
2,539993,21498,RED RETROSPOT WRAP,25,2011-01-04 10:00,0.42,13313.0,United Kingdom
3,539993,22379,RECYCLING BAG RETROSPOT,5,2011-01-04 10:00,2.10,13313.0,United Kingdom
4,539993,20718,RED RETROSPOT SHOPPER BAG,10,2011-01-04 10:00,1.25,13313.0,United Kingdom
...,...,...,...,...,...,...,...,...
364667,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50,0.85,12680.0,France
364668,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50,2.10,12680.0,France
364669,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50,4.15,12680.0,France
364670,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50,4.15,12680.0,France
364671,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50,4.95,12680.0,France

# 데이터 샘플링
전체 데이터의 20% 샘플링

SQL table import가 오래걸려 샘플링데이터로 우선 분석하기 위함.(추후 최종 분석은 모든 데이터로 분석 실행)

In [77]:
sample=df2011.sample(frac=0.2)

In [78]:
sample

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
55887,541005,22382,LUNCH BAG SPACEBOY DESIGN,5,2011-01-13 10:39,1.65,16161.0,United Kingdom
365318,568703,20718,RED RETROSPOT SHOPPER BAG,10,2011-09-28 15:21,1.25,12748.0,United Kingdom
483348,577501,22906,12 MESSAGE CARDS WITH ENVELOPES,12,2011-11-20 12:32,1.65,14075.0,United Kingdom
467576,576356,84978,HANGING HEART JAR T-LIGHT HOLDER,24,2011-11-14 16:30,1.25,15681.0,United Kingdom
91950,544161,20724,RED RETROSPOT CHARLOTTE BAG,10,2011-02-16 12:59,0.85,16875.0,United Kingdom
...,...,...,...,...,...,...,...,...
520710,580296,22326,ROUND SNACK BOXES SET OF4 WOODLAND,3,2011-12-02 13:49,2.95,13780.0,United Kingdom
191098,553315,20914,SET/5 RED RETROSPOT LID GLASS BOWLS,32,2011-05-16 12:03,2.55,16705.0,United Kingdom
54062,540849,22960,JAM MAKING SET WITH JARS,6,2011-01-12 9:33,4.25,14270.0,United Kingdom
382415,569900,22961,JAM MAKING SET PRINTED,12,2011-10-06 16:17,1.45,17651.0,United Kingdom
284615,561879,23209,LUNCH BAG DOILEY PATTERN,10,2011-07-31 12:43,1.65,13722.0,United Kingdom

### 저장

In [80]:
sample.to_csv('data/Retail_top10.csv',index=False)

In [81]:
On_r=pd.read_csv('data/Retail_top10.csv')

In [82]:
On_r

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,541005,22382,LUNCH BAG SPACEBOY DESIGN,5,2011-01-13 10:39,1.65,16161.0,United Kingdom
1,568703,20718,RED RETROSPOT SHOPPER BAG,10,2011-09-28 15:21,1.25,12748.0,United Kingdom
2,577501,22906,12 MESSAGE CARDS WITH ENVELOPES,12,2011-11-20 12:32,1.65,14075.0,United Kingdom
3,576356,84978,HANGING HEART JAR T-LIGHT HOLDER,24,2011-11-14 16:30,1.25,15681.0,United Kingdom
4,544161,20724,RED RETROSPOT CHARLOTTE BAG,10,2011-02-16 12:59,0.85,16875.0,United Kingdom
...,...,...,...,...,...,...,...,...
72929,580296,22326,ROUND SNACK BOXES SET OF4 WOODLAND,3,2011-12-02 13:49,2.95,13780.0,United Kingdom
72930,553315,20914,SET/5 RED RETROSPOT LID GLASS BOWLS,32,2011-05-16 12:03,2.55,16705.0,United Kingdom
72931,540849,22960,JAM MAKING SET WITH JARS,6,2011-01-12 9:33,4.25,14270.0,United Kingdom
72932,569900,22961,JAM MAKING SET PRINTED,12,2011-10-06 16:17,1.45,17651.0,United Kingdom
72933,561879,23209,LUNCH BAG DOILEY PATTERN,10,2011-07-31 12:43,1.65,13722.0,United Kingdom