# 지지도(데이터프레임형식)

In [118]:
import pandas as pd
import numpy as np
import pymysql

In [119]:
def SQL_load(sql):
    # db접속
    db=pymysql.connect(host='localhost',port=3306,user='root',
                   passwd='661400',db='plt',charset='utf8',
                  cursorclass=pymysql.cursors.DictCursor)
    
    cs=db.cursor()
    
    cs.execute(sql)

    res=cs.fetchall()

    df=pd.DataFrame(res)
    
    db.close()
    return df

In [120]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori,association_rules

In [121]:
df1=SQL_load('''select invoiceno,Description from plt.retail_on_top10 A join plt.log_df B on A.CustomerID=B.customerid''')
df1

       invoiceno                      Description
0         539993          JUMBO BAG PINK POLKADOT
1         539993               BLUE POLKADOT WRAP
2         539993              RED RETROSPOT WRAP
3         539993         RECYCLING BAG RETROSPOT
4         539993        RED RETROSPOT SHOPPER BAG
...          ...                              ...
364667    581587      PACK OF 20 SPACEBOY NAPKINS
364668    581587     CHILDREN'S APRON DOLLY GIRL
364669    581587    CHILDRENS CUTLERY DOLLY GIRL
364670    581587  CHILDRENS CUTLERY CIRCUS PARADE
364671    581587    BAKING SET 9 PIECE RETROSPOT

[364672 rows x 2 columns]

In [122]:
Transaction = df1.groupby(['invoiceno', 'Description'])['Description'].count().reset_index(name ='Count')
Transaction

       invoiceno                     Description  Count
0         539993              BLUE POLKADOT WRAP      1
1         539993      CAST IRON HOOK GARDEN FORK      1
2         539993   CHILDRENS APRON APPLES DESIGN      1
3         539993        COFFEE MUG APPLES DESIGN      1
4         539993        COFFEE MUG PEARS  DESIGN      1
...          ...                             ...    ...
355420    581587        CIRCUS PARADE LUNCH BOX       1
355421    581587     PACK OF 20 SPACEBOY NAPKINS      1
355422    581587  PLASTERS IN TIN CIRCUS PARADE       1
355423    581587       PLASTERS IN TIN STRONGMAN      1
355424    581587             SPACEBOY LUNCH BOX       1

[355425 rows x 3 columns]

In [123]:
basket = Transaction.pivot_table(index='invoiceno', columns='Description', values='Count', aggfunc='sum').fillna(0)
basket.head()

Description,4 PURPLE FLOCK DINNER CANDLES,50'S CHRISTMAS GIFT BAG LARGE,DOLLY GIRL BEAKER,I LOVE LONDON MINI BACKPACK,I LOVE LONDON MINI RUCKSACK,NINE DRAWER OFFICE TIDY,OVAL WALL MIRROR DIAMANTE,RED SPOT GIFT BAG LARGE,SET 2 TEA TOWELS I LOVE LONDON,SPACEBOY BABY GIFT SET,...,ZINC STAR T-LIGHT HOLDER,ZINC SWEETHEART SOAP DISH,ZINC SWEETHEART WIRE LETTER RACK,ZINC T-LIGHT HOLDER STAR LARGE,ZINC T-LIGHT HOLDER STARS LARGE,ZINC T-LIGHT HOLDER STARS SMALL,ZINC TOP 2 DOOR WOODEN SHELF,ZINC WILLIE WINKIE CANDLE STICK,ZINC WIRE KITCHEN ORGANISER,ZINC WIRE SWEETHEART LETTER TRAY
invoiceno,,,,,,,,,,,,,,,,,,,,,
539993,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
540001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
540002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
540003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
540004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [124]:
def trans(x):
    if x<=0:
        return 0
    if x>=1:
        return 1


basket = basket.applymap(trans)
basket.head()

Description,4 PURPLE FLOCK DINNER CANDLES,50'S CHRISTMAS GIFT BAG LARGE,DOLLY GIRL BEAKER,I LOVE LONDON MINI BACKPACK,I LOVE LONDON MINI RUCKSACK,NINE DRAWER OFFICE TIDY,OVAL WALL MIRROR DIAMANTE,RED SPOT GIFT BAG LARGE,SET 2 TEA TOWELS I LOVE LONDON,SPACEBOY BABY GIFT SET,...,ZINC STAR T-LIGHT HOLDER,ZINC SWEETHEART SOAP DISH,ZINC SWEETHEART WIRE LETTER RACK,ZINC T-LIGHT HOLDER STAR LARGE,ZINC T-LIGHT HOLDER STARS LARGE,ZINC T-LIGHT HOLDER STARS SMALL,ZINC TOP 2 DOOR WOODEN SHELF,ZINC WILLIE WINKIE CANDLE STICK,ZINC WIRE KITCHEN ORGANISER,ZINC WIRE SWEETHEART LETTER TRAY
invoiceno,,,,,,,,,,,,,,,,,,,,,
539993,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
540001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
540002,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
540003,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
540004,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [125]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [126]:
item0=apriori(basket,min_support = 0.03,use_colnames=True)
item0

C:\Users\JungHun.DESKTOP-JRGUSS9\AppData\Roaming\Python\Python39\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

     support                                           itemsets
0   0.039589                           (6 RIBBONS RUSTIC CHARM)
1   0.035309                      (60 TEATIME FAIRY CAKE CASES)
2   0.041907                       (ALARM CLOCK BAKELIKE GREEN)
3   0.032634                        (ALARM CLOCK BAKELIKE PINK)
4   0.047138                        (ALARM CLOCK BAKELIKE RED )
..       ...                                                ...
91  0.032515                (WOOD BLACK BOARD ANT WHITE FINISH)
92  0.043155                      (WOODEN FRAME ANTIQUE WHITE )
93  0.047732                (WOODEN PICTURE FRAME WHITE FINISH)
94  0.030078  (GREEN REGENCY TEACUP AND SAUCER, ROSES REGENC...
95  0.030791  (JUMBO BAG RED RETROSPOT, JUMBO BAG PINK POLKA...

[96 rows x 2 columns]

In [127]:
# rules = association_rules(item0, metric = "lift", min_threshold = 1)
# rules.sort_values('confidence', ascending = False, inplace = True)
# rules